@import '../../styles/color';

$page-max-width: 800px;
$nav-height: 70px;

:host {
}

header {
  box-sizing: border-box;
  overflow: auto;
  height: 330px;
  font-family: 'Source Sans Pro';
  padding: 80px 0 0;
  position: relative;

  @media (max-width: 800px) {
    height: 310px;
    padding: 70px 0 0;
  }

  @media (max-width: 600px) {
    height: 300px;
    padding: 60px 0 0;
  }

  h1 {
    color: #333;
    font-size: 55px;
    font-weight: 200;
    margin: 25px auto;
    max-width: $page-max-width;
    text-align: center;

    @media (max-width: 800px) {
      font-size: 42px;
    }

    @media (max-width: 600px) {
      font-size: 46px;
    }

    span {
      color: $mediumgray;
    }
  }

  iron-icon {
    height: 120px;
    margin-right: 6px;
    width: 120px;

    @media (max-width: 800px) {
        height: 100px;
        width: 100px;
    }

    @media (max-width: 500px) {
        height: 86px;
        width: 86px;
    }
  }
}

nav {
  background: rgba(0, 1, 1, .75);
  bottom: 0;
  font-size: 0;
  height: $nav-height;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  a,
  button {
    background: transparent;
    border: 0;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: $nav-height;
    height: $nav-height;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .3s;
    padding: 0 20px;

    &:hover {
      background: #222;
    }

    &[active] {
      background: #fff;
      border-bottom: 3px solid #be3f6f;
      border-top: 3px solid #be3f6f;
      color: #333;
      font-weight: 500;

      iron-icon[icon] {
        color: #be3f6f;
      }
    }


    span {
      font-size: 10px;
    }
    iron-icon {
      height: 26px;
      margin-right: 4px;
      width: 26px;
    }
  }
}

episode-entity,
episode-subscribe {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    clip .3s .3s,
    opacity .3s,
    visibility 0s .3s;

  &[visible] {
    opacity: 1;
    transition:
      opacity .3s,
      visibility 0s 0s;
    visibility: visible;

  }
}
