@import 'color';

body {
  background: $lightgray;
  background: #f4f4f4;
  color: #888;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}


/* .player {
  background: #fff;
  border: 2px solid #333;
  height: 50px;
  position: fixed;
  left: 12px;
  right: 12px;
  bottom: 12px;
  z-index: 100;
  margin-left: 320px;
  line-height: 50px;
  padding-left: 100px;
  font-size: 20px;
}

.player-time {
  position: absolute;
  right: 12px;
}

.player-poster {
  background: #e2e2e2;
  outline: 2px solid #333;
  height: 66px;
  width: 66px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.player-active {
  box-sizing: border-box;
  height: 60vh;
  padding: 30vh 12px;

  .player-poster {
    left: 0;
    right: 0;
    height: 30vh;
    top: 0;
    width: auto;
  }

  .player-bar {
    position: absolute;
    top: calc(30vh - 5px);
    height: 5px;
    left: 0;
    right: 0;
    background: red;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 120px;
      background: green;
      height: 5px;
    }
  }
} */


$page-max-width: 800px;

header {
  box-sizing: border-box;
  overflow: auto;
  height: 380px;
  padding: 120px 0 0;
  position: relative;

  h1 {
    color: #333;
    font-size: 40px;
    font-weight: 300;
    margin: 25px 0;
    text-align: center;
  }
}

$nav-height: 70px;

nav {
  background: rgba(0, 1, 1, .75);
  bottom: 0;
  font-size: 0;
  height: $nav-height;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  a {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: $nav-height;
    height: $nav-height;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .3s;
    padding: 0 20px;

    &:hover {
      background: #222;
    }

    &[active] {
      background: #fff;
      border-bottom: 3px solid #be3f6f;
      border-top: 3px solid #be3f6f;
      color: #333;
      font-weight: 500;

      iron-icon[icon] {
        color: #be3f6f;
      }
    }

    iron-icon[icon] {
      height: 26px;
      margin-right: 4px;
      width: 26px;
    }
  }
}


episode-entity {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    clip .3s .3s,
    opacity .3s,
    visibility 0s .3s;

  &[is-visible] {
    opacity: 1;
    transition:
      opacity .3s,
      visibility 0s 0s;
    visibility: visible;

  }
}
