@import '../../styles/color';

:host {
  display: block;
  font-size: 14px;
}

.episode-synopsis__info {
  overflow: auto;
  padding: 14px 0 14px 100px;
  position: relative;

  h3 {
    color: $darkblue;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  p {
    margin: 10px 0 0;
  }
}

.episode-synopsis__number {
  color: $pink;
  font-size: 66px;
  font-weight: 300;
  left: 10px;
  line-height: 66px;
  position: absolute;
  top: 0;
}

.episode-synopsis__actions {
  padding: 0 0 10px 100px;
  text-align: right;

  span {
    color: #888;
    float: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
  }

  button {
    background: transparent;
    border: 0;
    color: $darkblue;
    cursor: pointer;
    padding: 4px 16px;
    transition: color .3s;

    &:hover {
      color: $pink;
    }
  }
}

.episode-synopsis__meta,
.episode-synopsis__panel {
  padding: 14px 0;
  margin: 0;
  display: flex;
  padding-left: 100px;

  @media (max-width:600px) {
    padding-left: 0;
  }

  dt {
    color: $pink;
    flex: 0 0 80px;
    font-weight: 500;
    padding-right: 10px;

    @media (max-width:600px) {
      text-align: right;
      flex: 0 0 90px;
    }
  }

  dd {
    margin: 0;
  }
}

.episode-synopsis__meta {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;

  @media (max-width:600px) {
    flex-wrap: wrap;
    line-height: 46px;
    padding: 0;
  }

  dd {
    color: $black;
    flex: 2;

    @media (max-width:600px) {
      flex: 1 0 calc(100% - 100px);
    }
  }

  @media (max-width:600px) {
    dt {
      text-align: center;
    }

    dd:first-of-type,
    dt:first-of-type, {
      border-bottom: 1px solid $gray;
    }
  }

}

.episode-synopsis__panel {
  color: $black;

  dd {
    display: flex;
    flex-wrap: wrap;
  }

  dt {
    padding-top: 10px;
    text-align: center;

    iron-icon {
      height: 30px;
      width: 30px;
    }

    span {
      display: block;
    }
  }

  div {
    height: 36px;
    flex: 1 0 50%;
    margin-bottom: 10px;

    @media (max-width:750px) {
      flex: 1 0 100%;
    }
  }

  img {
    border: 3px solid $lightgray;
    border-radius: 50%;
    height: 33px;
    margin-right: 6px;
    overflow: hidden;
    vertical-align: middle;
    width: 33px;
  }
}
