@import '../../styles/color';

:host {
  background: $pink;
  color: #fff;
  display: block;
  overflow: auto;
  padding-top: 40px;
}

dl,
dd,
dt {
  margin: 0;
}

p {
  margin: 0;
  padding: 30px 0;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;

  span:first-child {
    font-size: 50px;
    float: right;
    margin-left: 10px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 30px;
  position: relative;
  padding-left: 40px;


  iron-icon {
    height: 30px;
    vertical-align: middle;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.episode-entity__close-btn {
  color: $black;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    color: $gray;
  }
}


.episode-entity__section,
.episode-entity__section-alternate,
.episode-entity__section-alternate2 {
  @media (max-width: 850px) {
    padding: 0 30px;
  }
}

.episode-entity__section {
  color: rgba(0,0,0, .425);
  font-weight: 400;

  p {
    padding-top: 10px;
  }
}

.episode-entity__section-alternate {
  background: rgba(0,0,0,.1);
  color: rgba(0,0,0,.425);
  font-weight: 400;
  overflow: auto;
}

.episode-entity__section-alternate2 {
  background: $black;
  color: rgba(255,255,255,.5);
  border-top: 1px solid  rgba(0,0,0,.1);
  overflow: auto;
}

.episode-entity__centered {
  margin: 0 auto;
  max-width: 800px;
}

.episode-entity__meta,
.episode-entity__panel {
  padding: 20px;

  dt,
  dd {
    display: inline-block;
    vertical-align: top;
  }

  dt {
    font-weight: 500;
    width: 150px;
  }

  dd {
    font-size: 14px;
    font-weight: 300;
  }
}

.episode-entity__meta + .episode-entity__meta {
  border-top: 1px solid rgba(0,0,0,.1);
}

.episode-entity__panelists {
  margin-bottom: 20px;
}

.episode-entity__panelist {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding-right: 20px;
  padding-left: 44px;
  position: relative;

  img {
    border: 2px solid $pink;
    border-radius: 50%;
    height: 30px;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 30px;
  }

  a {
    display: block;
    color: $pink;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      color: $gray;
    }
  }
}

.episode-entity__discussion {
  margin-bottom: 40px;
}

.episode-entity__discussion-point {
  font-weight: 300;
  line-height: 28px;
  padding: 10px 0;

  div {
    margin: 8px 10px 0 50px;
  }

  a {
    color: rgba(255,255,255,.5);
    background: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background: $pink;
      color: $black;
    }
  }

  + .episode-entity__discussion-point {
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

.episode-entity__discussion-time {
  font-weight: 600;
}
